#FormulaireRecherche {
  background:url(../image/fond.png) rgba(106, 134, 187, 0.1);
  background-size: 60%;
  margin: 2em 2em;
  padding: 2em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type=text] {
  width: 40%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../image/loupe.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 5%;
  padding: 12px 20px 12px 40px;
}

select {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  background-image: url('../image/deezer-logo.png');
  background-position: 10px 13px;
  background-repeat: no-repeat;
  background-size: 5%;
  padding: 12px 20px 12px 40px;
}

label {
  font-size: 1.2em;
  margin: 1em 0em;
}

.boutonRecherche, .champsRecherche, select {
  margin: 1em 0em;
}

.boutonRecherche {
  margin: 1em 0em;
  background-color: #6a86bb;
  color: #ffffff;
  border: 2px solid #6a86bb;
  padding: 0.5em 1em;
}

.boutonRecherche:hover {
  background-color: #333333;
  border: 2px solid #333333;
  color: #ffffff;
  cursor: pointer;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:680px){
  #FormulaireRecherche{
      background-size:0; 
      margin:0;
      flex-direction: column;
  }
  #results{
    margin-top:10px;
  }
  h1{
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  input[type=text], select{
    width:100%;
  }
  .boutonRecherche, .champsRecherche, select{
    margin:0;
  }
}