nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 a {
    float: left;
    border-right:1px solid #bbb;
  }
  
a:last-child {
    border-right: none;
  }
  
 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 a:hover:not(.active) {
   // background-color: #111;
  }
  
.active {
    background-color: #6a86bb;
  }


  #FormulaireRecherche{
    background: rgba(106,134,187,0.1);
    margin: 2em 2em;
    padding: 2em 2em;

    display: flex;
    align-items: normal;
    justify-content: space-between;
  }

  input[type=text] {
    width: 40%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../image/loupe.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 5%;
    padding: 12px 20px 12px 40px;
  }

  select{
      width:30%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      font-size: 16px;
  }

  label{
      font-size:1.5em;
      margin: 1em 0em;
  }

  .bouton1, .champsRecherche, select{
    margin: 1em 0em;
  }

  .bouton1{
    margin: 1em 0em;
    background-color: #6a86bb;
    color:#ffffff;
    border: 2px solid #6a86bb;
    padding: 0.5em 3em;
  }

  .bouton1:hover{
      background-color: #333333;
      border: 2px solid #333333;
      color:#ffffff;
      cursor: pointer;
  }