*{margin:0;padding:0;}

body{
    font-family: Helvetica, Arial, sans-serif
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3b3b3b;

    display:flex;
    align-items: center;
  }
  
  .logo-deezer{
    border-right: 1px solid #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    padding-right: 1em;
    margin-right: 1em;
  }

  .logo-deezer a {
    color: #ffffff;
    font-size: 2em;
    text-decoration: none;
  }

  .logo-deezer img{
      width: 50px;
      margin-top: 10px;
  }
 .menu a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu a:last-child {
    border-right: none;
  }
  
.active {
    background-color: #6a86bb;
  }


  #FormulaireRecherche{
    background: rgba(106,134,187,0.1);
    margin: 2em 2em;
    padding: 2em 2em;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  input[type=text] {
    width: 40%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../image/loupe.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 5%;
    padding: 12px 20px 12px 40px;
  }

  select{
      width:30%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      font-size: 16px;
      background-image: url('../image/deezer-logo.png');
      background-position: 10px 13px;
      background-repeat: no-repeat;
      background-size: 5%;
      padding: 12px 20px 12px 40px;
  }

  label{
      font-size:1.2em;
      margin: 1em 0em;
  }

  .bouton1, .champsRecherche, select{
    margin: 1em 0em;
  }

  .bouton1{
    margin: 1em 0em;
    background-color: #6a86bb;
    color:#ffffff;
    border: 2px solid #6a86bb;
    padding: 0.5em 1em;
  }

  .bouton1:hover{
      background-color: #333333;
      border: 2px solid #333333;
      color:#ffffff;
      cursor: pointer;
  }

  h1{
      font-size:1.5em;
    margin-top: 2em;
    margin-left:1.2em;
}


#results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   /* justify-content: center;
    align-items: center;*/
}
.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    justify-content: center;
    padding: 0.5em 0em;
}

.btn-favoris{
    padding: 0.5em;
    background: transparent;
    border: 1px solid red;
    color:red;
}

.btn-favoris .fa-heart{
    color: red;
}

.display-favoris{
    display:none;
}

.main, .album, .preview, .btn-favoris{
    margin:auto;
    text-align: center;
}